<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="default" connectionString="data source=DB-EEK-ZWD-01;initial catalog=MAATWERK;persist security info=True;user id=SAAPI;password=SA32api" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SocketIP" value="172.16.3.31" />
  </appSettings>
</configuration>